<h1 class='text-center mt-4' >Listing all articles</h1>

<div class="flickr_pagination"> 
  <%= will_paginate(@articles, previous_label: "previous", next_label: "next") %>
</div>

<%= render 'article' %>

<div class="flickr_pagination mt-4 mb-4"> 
  <%= will_paginate(@articles, previous_label: "previous", next_label: "next") %>
</div>