<h1>Welcome to Home page</h1>

<%= link_to 'Articles listing', articles_path %> |
<%= link_to 'About', about_path %>

<div class='container' id='home-container'>
  <h1>Alpha Blog</h1>
  <%= link_to 'Sign up!', signup_path, class: 'btn btn-success btn-lg' %>
</div>